.closeIconInChangePassword{
  /* position: absolute; */
  /* top: -10px; */
  /* left: 93%; */
}
input:focus {
  outline: none;
  border: 1px solid blue;
}
input {
  /* border: 1px solid blue; */
  padding-left: 10px;
  border-radius: 5px;
  width: 360px;
  height: 60px;
}
input.input-error,
select.input-error {

  border: 1px solid red;
}

.toast-message{
  
  width: 500px;
}
/* .passwordOverlay{
  background: #000000af!important;
} */
@media only screen and (max-width: 767px){
  .passwordModal{
    width: 50%!important;
  }
}
@media only screen and (max-width: 700px){
  .passwordModal{
    width: 60%!important;
  }
  
}
@media only screen and (max-width: 570px){
  .passwordModal{
    width: 70%!important;
  }
  
}
@media only screen and (max-width: 500px){
  .passwordModal{
    width: 80%!important;
  }
  
}
@media only screen and (max-width: 465px){
  .passwordModal{
    width: 90%!important;
  }
  
}